 
<div class="space-y-6">

  <div>
    <h1 class="text-2xl font-bold text-gray-900">
      Dashboard Power BI
    </h1>

    <p class="text-gray-600">
      Análisis visual de la operación de radiotaxis.
    </p>
  </div>

  <div class="bg-white rounded-xl border border-gray-200 shadow-sm overflow-hidden min-h-[850px]">

    <iframe
      title="Dashboard Radiotaxis"
      [src]="powerBiUrl"
      width="100%"
      height="850"
      frameborder="0"
      allowfullscreen="true">
    </iframe>

  </div>

</div>